body
    {
    text-align: center;
    }

.button
    {
    cursor: pointer;
    background-color: #8ddd82;
    padding: 0 5px;
    }

.button:hover
    {
    background-color: #95ea8a;
    }

#MainCanvas
    {
    background-color: #dddddd;
    cursor: none;
    }

#GameMenu
    {
    -webkit-user-select: none;
    user-select: none;
    }

#GameMenu ul
    {
    list-style-type: none;
    margin: 7px 0;
    padding: 0;
    }

#GameMenu ul > *
    {
    display: inline-block;
    margin: 0 12px;
    }

.value
    {
    color: #5284b5;
    font-weight: bold;
    }